* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, li, a {
    list-style: none;
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 16px;
}

.pokedex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1332px;
    margin: 0 auto;
}

.card {
    padding: 16px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.cardTitle {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.cardSubTitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.cardImage {
	height: 150px;
	position: relative;
	z-index: 2;
}

.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water, .ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #98d7a5;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.normal {
	background-color: #F5F5F5;
}